html,
body {
    height: 100%;
    overflow: auto;
}

.flexBodyRow {
    display: flex;
    flex-direction: row;
}

.flexBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin-top: -8.125rem;
    margin-left: 20rem;
}

.titleBody {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 4.5rem;
    line-height: 105%;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    width: 44.8125rem;
    z-index: 2;
}

.subTitleBody {
    margin-top: 1.25rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4375rem;
    line-height: 120%;
    color: #CECECE;
    width: 31.1875rem;
    z-index: 2;

}

.buttonBody {
    cursor: pointer;
    width: 20.6875rem;
    height: 4.125rem;
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 130%;
    text-align: center;
    color: #242424;
    border: none;
    background: linear-gradient(92.84deg, #1DD844 1.44%, #CBF62E 126.29%);
    box-shadow: 0px 0px 0.5625rem 0.625rem rgba(104, 170, 42, 0.25);
    border-radius: 1.25rem;
    transition: 0.4s ease-in-out;
    margin-top: 67px;

}

.buttonBody:hover {
    background: linear-gradient(92.84deg, #1DD844 1.44%, #CBF62E 126.29%);
    box-shadow: 0px 0px 0.5625rem 0.8125rem rgba(76, 112, 45, 0.79);
}

.buttonBody:active {
    background: linear-gradient(92.84deg, #1DD844 1.44%, #CBF62E 126.29%);
    box-shadow: 0px 0px 0.5625rem 13px rgba(76, 112, 45, 0.79);
    border-radius: 20px;
}

.buttonBody:disabled {
    color: rgba(36, 36, 36, 0.5);
}

.boxImage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.manImg {
    transform: rotate(5.72deg);
    position: absolute;
    width: 32.9375rem;
    height: 41.125rem;
    left: 67.625rem;
    top: 11.625rem;
    z-index: 2;
}

.pigImg {
    transform: rotate(18.58deg);
    position: absolute;
    width: 8.75rem;
    height: 10.6875rem;
    left: 70.125rem;
    top: 19.6875rem;
    z-index: 1;
}

.moneyImg {
    transform: rotate(-4.08deg);
    position: absolute;
    width: 12.625rem;
    height: 12.625rem;
    left: 89.3125rem;
    top: 28.5625rem;
    z-index: 3;
}

.smileImg {
    transform: rotate(-17.55deg);
    position: absolute;
    width: 3.3125rem;
    height: 3.3125rem;
    left: 70.5625rem;
    top: 14.9375rem;
}

.Lightning1Img {
    position: absolute;
    width: 3.625rem;
    height: 6.4375rem;
    left: 89.375rem;
    top: 15.5625rem;
}

.Lightning2Img {
    transform: rotate(14.89deg);
    position: absolute;
    width: 2.0625rem;
    height: 3.6875rem;
    left: 61.5rem;
    top: 38.875rem;
}

.elipsBodyGreen {
    box-sizing: border-box;
    position: absolute;
    width: 5.4375rem;
    height: 5.4375rem;
    left: 48.8125rem;
    top: 48.8125rem;
    border-radius: 50%;
    background: radial-gradient(95.38% 95.38% at 50.77% 4.62%, #DDF92C 0%, #8FEC36 44.51%, #00D448 100%);
    filter: blur(0.125rem);
    transform: rotate(-25.73deg);
    z-index: 0;
}

.elipsBodyViol {
    position: absolute;
    width: 29.625rem;
    height: 29.625rem;
    left: 69.625rem;
    top: 18.125rem;
    background: linear-gradient(170.98deg, rgba(95, 56, 255, 0.55) 25.59%, rgba(255, 14, 222, 0.55) 100.44%);
    filter: blur(5.375rem);
    transform: rotate(11.86deg);
    z-index: 2;
}