.overflH {
    overflow: hidden;
}

.titleCards {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 2.8125rem;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5rem;
}

.centerGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.gridCards {
    margin-top: 4.0625rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 4.375rem;
    max-width: 40.625rem;
}


.cardBlock {
    width: 18.75rem;
    height: 19.375rem;
    left: 39.6875rem;
    top: 21.125rem;
    background: rgba(51, 62, 81, 1);
    backdrop-filter: blur(1.875rem);
    border-radius: 1.25rem;
    z-index: 2;
}

.cardBgBlock {
    width: 16.25rem;
    height: 1.875rem;
    background: rgba(51, 62, 81, 0.6);
    backdrop-filter: blur(1.6875rem);
    border-radius: 1.25rem;
    margin-top: 3.75rem;
    margin-left: 1.25rem;
    margin-top: 15.3125rem;

}


.cardsText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.5625rem;
    text-align: center;
    letter-spacing: -0.7px;
    color: #FFFFFF;
    position: absolute;
    z-index: 2;
    bottom: 3.125rem;
}


.boxSmile {
    position: relative;
    display: flex;
    padding-top: 3.125rem;
    justify-content: center;
}

.blurSmile {
    filter: blur(0.4375rem);
    position: absolute;
}

.smileImage {
    position: absolute;
    z-index: 2;
}

.elipsCardsBgTop {
    position: absolute;
    width: 27.5rem;
    height: 27.5rem;
    left: 75.8125rem;
    top: -0.16px;
    background: linear-gradient(170.98deg, rgba(95, 56, 255, 0.25) 25.59%, rgba(255, 14, 222, 0.25) 100.44%);
    filter: blur(5.375rem);
    transform: rotate(11.97deg);
}

.elipsCardsBgBot {
    position: absolute;
    width: 27.5rem;
    height: 27.5rem;
    left: 24.125rem;
    top: 30.375rem;
    background: linear-gradient(170.98deg, rgba(95, 56, 255, 0.25) 25.59%, rgba(255, 14, 222, 0.25) 100.44%);
    filter: blur(5.375rem);
    transform: rotate(11.97deg);
}

.elipsCardsSmTopSemi {
    box-sizing: border-box;
    position: absolute;
    width: 9.4375rem;
    height: 9.4375rem;
    left: 89.125rem;
    top: -5.625rem;
    background: radial-gradient(95.38% 95.38% at 50.77% 4.62%, #DEA8FF 0%, #9D6AD9 44.51%, #7A2BF6 100%);
    transform: rotate(-25.73deg);
    border-radius: 50%;

}

.elipsCardsSmTop {
    box-sizing: border-box;
    position: absolute;
    width: 5.25rem;
    height: 5.25rem;
    left: 30.9375rem;
    top: 7.4375rem;
    border-radius: 50%;
    background: radial-gradient(63.25% 73.53% at 65.32% 77.65%, #045DFA 0%, #0FC1D7 83.16%, #06F6C7 100%);
    transform: rotate(7.77deg);
}

.elipsCardsSmBot {
    position: absolute;
    width: 8.1875rem;
    height: 8.1875rem;
    left: 83.375rem;
    top: 50rem;
    background: radial-gradient(95.38% 95.38% at 50.77% 4.62%, #DEA8FF 0%, #9D6AD9 44.51%, #7A2BF6 100%);
    filter: blur(0.75rem);
    transform: rotate(-25.73deg);
    border-radius: 50%;
}

@media (max-width: 1600px) {

    .titleCards,
    .centerGrid,
    .gridCards,
    .cardBlock,
    .cardBgBlock,
    .cardsText,
    .boxSmile,
    .blurSmile,
    .smileImage,
    .elipsCardsBgTop,
    .elipsCardsBgBot,
    .elipsCardsSmTopSemi,
    .elipsCardsSmTop,
    .elipsCardsSmBot {
        scale: 0.9;
    }

    .gridCards {
        margin-top: -2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 1rem;
        z-index: 3;

    }

    .centerGrid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


}

@media (max-width: 1024px) {
    .overflH {
        overflow: visible;
    }

    .cardsText {
        font-size: 10px;
    }
}


@media (max-width: 768px) {
    .gridCards {
        margin-top: 4.0625rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 4.375rem;
    }

}

@media (max-width: 480px) {
    .titleCards {
        margin-top: 1rem;
    }

    .gridCards {
        margin-top: 1rem;
    }

    .cardsText2Fr {
        margin-left: 2rem;
    }
}