.modalWindow {
    position: absolute;
    width: 670px;
    height: 425px;
    left: 0px;
    top: 0px;
    background: radial-gradient(42.84% 203.07% at 15.58% -40.39%, #323E51 0%, #1D2532 100%);
    border-radius: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 51;
}